* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #222222;
  color: #ffffff;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 150px;
  margin: 2px;

  opacity: 70%;
}

p {
  color: #fff;
  text-align: center;
}
img:hover {
  scale: 100%;
  opacity: 100%;
}
img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  width: 1366px;
  height: 768px;
  display: flexbox;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.glitch-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #060606;
}

.glitch {
  position: relative;
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 5px;
  z-index: 1;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch-color 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #0ff;
  z-index: -1;
}

.glitch:after {
  animation: glitch-color 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both
    infinite;
  color: #ff00ff;
  z-index: -2;
}

@keyframes glitch-color {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-3px, 3px);
  }

  40% {
    transform: translate(-3px, -3px);
  }

  60% {
    transform: translate(3px, 3px);
  }

  80% {
    transform: translate(3px, -3px);
  }

  to {
    transform: translate(0);
  }
}
